---
interface Props {
    title: string;
    subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<!-- Hero -->
<div class="bg-image" style="
    background-image: url('https://picsum.photos/1920/1280');
    height: 100vh;
  ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex vh-100 position-relative">
            <slot />
            <div class="text-white position-absolute w-100 title-text">
                <h1 class="mb-3">{title}<br />{subtitle}</h1>

                <!-- <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a> -->
            </div>
        </div>
    </div>
</div>
<!-- Hero -->

<style>
    .title-text {
        left: 10%;
        top: 65%;
    }

    .title-text h1 {
        font-size: 83px;
    }
</style>
